body {
  background-color: #f2f3f5;
  padding: 15px;
  margin: 0;
}
.layui-card-header {
  position: relative;
  height: 50px;
}
.layui-card-header #addbtn {
  position: absolute;
  right: 30px;
  top: 5px;
}
